/* All pages style */
html, body{
	color:#FFF;
	font-family:"Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size:18px;
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
	background-color: gray;
}

/* Menu e Header page style*/

/*.cabecalho{
 	width: 100%;
	height: 8%;
	background-color: #222;
	position: fixed;
	z-index: 1;
}



#logoCabecalho{
	width:120%;
	padding-top: 8%;
}

.menu {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #222;
  overflow-x: hidden; 
}

.menu a{
 padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:#5b859a;
  display: block;
  border-bottom: solid;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.menu a:hover {
  color: #e3e3e3;
  margin-top:0.5%;
}
*/

/* ------LISTAS SATELITES E CATEGORIAS------ */

table {
	color: #000;
	border-spacing: 0px 0px;
	text-align: center;
}

table th{
	color: #5b859a;
}

table tr:nth-child(even) {
	background-color: #eee;
}
table tr:nth-child(odd) {
	background-color:#fff;
}

th, td {
	border-bottom: 1px solid #ddd;
}

td {
	background-color: lightgray;
}

th, td:hover {
	background-color: #e3e3e3;
	padding-top: 5px;
	color:#5b859a;
}



.tableLista{
	opacity: 0.7;
	font-size: 14px;
  	position: absolute;
  	margin: auto;
  	left: 0;
  	right: 0;
  	padding-top: 3%;
	width: 50%;
	border: none;	
	grid-column: 1/3;
}

.mainLista{
	height: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	background-color: gray;
}

#tituloLista{
	font-size: 20px;
}

/************PERFIL SATÉLITE**************/
.main{
	width: 79%;
	height: 92%;
	position: relative;
  	margin: auto;
  	left: 0;
  	right: 0;
  	padding-top: 3%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 45% 55%;
	background-color: gray;
}

.info{
	color: #fff;
	border-radius: 5px;
	margin: 0;
	padding: 5px;
	height: 100%;
	width: 100%;
	grid-column: 1/2;
	grid-row: 1/2:;
}

.table1{
	opacity: 0.7;
	font-size: 14px;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;	
}

.mainTLE{
	color: #fff;
	border-radius: 5px;
	grid-row: 2/3;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 15% 85%;
	margin: 0;
	padding: 5px;
	height: 100%;
	width: 100%;

}

.dataTLE{
	opacity: 0.7;
	font-size: 14px;
	width: 100%;
	height: 100%;
	margin: 0;
	grid-column: 1/3;
	grid-row: 1/2;

}

.tableTLE1{
	background-color: #f2f2f2;
	opacity: 0.7;
	font-size: 12px;
	width: 100%;
	height: 100%;	
}

.TLE{
	color: #fff;
	border-radius: 5px;
	padding-top: 5%;
	margin: 0;
	height: 100%;
	width: 100%;
	grid-column: 1/2;
	grid-row: 2/3;
}

.tableTLE2{
	opacity: 0.7;
	font-size: 14px;
	width: 100%;
	height: 100%;	
}

.coordenadas{
	color: #fff;
	border-radius: 5px;
	margin: 0;
	padding-top: 1px;
	padding-left: 5px;
	height: 100%;
	width: 98%;
	grid-column: 2/3;
	grid-row: 2/3;
	grid-template-rows: 15% 85%;
}

.tableCoordenadas{
	opacity: 0.7;
	font-size: 14px;
	width: 100%;
	height: 67%;	
	padding-top: 5%;
	grid-row: 1/2;
}


.media{
	grid-column: 2/3;
	grid-row: 1/3;
	display: grid;
	grid-template-rows: 50% 50%;
	margin: 0 5%;
}

.main img{
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.image{
	max-width:100%;
	max-height:100%;
	margin: 0;
	padding: 5px;
	height: 100%;
	width: 100%;
	grid-row: 1/2;
}

.rota{
	margin: 0;
	padding-left: 0%;
	padding-top: 5%;
	height: 100%;
	width: 100%;
	max-width: 100%;
	grid-row: 2/3;
}


.button{
	grid-row:2/3;
	display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #e3e3e3;
    background-color:#5b859a;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button_div{
	padding-top: 10px;
}

.button:hover {
	background-color: #e3e3e3;
	padding-top: 10px;
	color:#5b859a;
}

.button:active{
	padding-top: 10px;
	box-shadow: 0 5px #5b859a;
	transform: translateY(4px);
}

/********PERFIL UTILIZADOR*********/
.profile_main{
	width: 79%;
	height: 92%;
	position: relative;
  	margin: auto;
  	left: 0;
  	right: 0;	
	float: left;
	padding-left: 6%;
	padding-top: 5%;
	display: grid;
	grid-template-rows: 50% 50%;
}


.info_panel{
	border: 1px #848484 solid;
	margin-bottom: 20px;
    background-color: lightgray;
    border-radius: 4px;
    border: 1px #585858 solid;
    width: 100%;
    height: 80%;
    /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
	/*width: 50%;*/
	grid-row: 1/2;
}

/*:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.info_panel>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.info_header{
	font-size: 14px;
	background-color: #D8D8D8;
	color: #333;
	padding: 10px 15px;
    border-bottom: 1px #848484 solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.info_body{
	display: grid;
	grid-template-columns: 70% 30%;
}

.info_table{
	grid-column: 1/2;
}

.profile_table{
	height: 100%;
	width: 100%;
	background-color: #E6E6E6;
}

.profile_pic{
	padding-left: 30%;
	padding-top: 5%;
	/*margin-top: -10.7%;*/
	object-position: center;
	grid-column: 2/3;
}

.profile_pic img{
	width: 80%;
}


.fav_panel{
	border: 1px #848484 solid;
	margin-bottom: 20px;
    background-color: lightgray;
    border-radius: 4px;
    border: 1px #585858 solid;
    width: 100%;
    height: 100%;
    /*-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);*/
	/*width: 50%;*/
	grid-row: 2/3;
}

.fav_panel>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.fav_header{
	font-size: 14px;
	background-color: #D8D8D8;
	color: #333;
	padding: 10px 15px;
    border-bottom: 1px #848484 solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.favoritos{
	border-radius: 5px;
	padding-top: 5px;
	width: 58%;
	grid-column: 1/3;
	grid-row: 2/3;
	align-content: center;
}

.favoritos_table{
	opacity: 0.7;
	font-size: 14px;
	width: 150%;
	height: 100%;	
	margin-left:auto; 
	margin-right:auto;
}

/***** SOBRE *****/
#wrapper {
	text-align: center;
	width: 50%;
	padding-left: 22%;
	padding-top: 10%;
	display: inline-block;
	font-size: 20px;
}

#wrapper img {
	width: 15%;
	border-radius: 50px;
}